/* Cell.css */

.cellwrapper {
    width: 100%;
    height: 50px;
    background-color: var(--paleBlue);
    border: none;
    transition: background-color 0.3s, border 0.3s;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cellwrapper.selected {
    background-color: var(--darkBlue);
  }
  
  .cellwrapper.hovered {
    background-color: var(--lightBlue);
  }
  
  .cellwrapper.focused {
    border: 2px solid var(--darkBlue);
  }
  
  .cellwrapper:hover {
    background-color: var(--lightBlue);
  }
  
  .cellwrapper:focus {
    outline: none;
  }
  
  /* Variables para los colores */
  :root {
    --lightBlue: #ADD8E6;
    --darkBlue: #00008B;
    --paleBlue: #B0E0E6;
  }
  
